
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<script src="~/Scripts/Dev/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ContentTitle").text("Select Exam");
    });
</script>

<div class="col-md-12">
    @foreach (var item in ViewBag.getStandardList)
    {
        if (item.Active == true)
        {
            <div class="form-group col-md-2" style="cursor:pointer;">
                <a href="@Url.Action("studentlist", "settings", new { area = "", stdid = item.ExamId })">
                    <img src="~/Content/Images/img_avatar2.png" alt="@item.StandardId" class="img-responsive img-circle">
                    <label>@item.ExamName</label>
                </a>
            </div>
        }
        else
        {
            <div class="form-group col-md-2">
                <img src="~/Content/Images/img_avatar2.png" alt="@item.ExamId" class="img-responsive img-circle">
                <label style="color:black;">@item.ExamName <span style="color:red;">(Deactive)</span></label>

            </div>
        }
    }


</div>
<div class="col-md-12">
    <div class="col-md-12">
        @Html.ActionLink("Back", "home", "settings", new { @class = "btn btn-info" })
    </div>
</div>


